<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='home.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= message %></p>
    <a class="button" href="http://localhost:<%=port%>/home"><button>Home</button></a>
    <a class="button" href="http://localhost:<%=port%>/categorias"><button>Categorias</button></a>
    <a class="button" href="http://localhost:<%=port%>/produtos"><button>Produtos</button></a>
  </body>
</html>
